page-login {


    img{
        display: block;
        margin: auto;
        width: 250px;
    }

    .input-group{
        height: 40px;

        .fa{
            width: 20px;
        }

        .input-group-addon{
            padding: 0 15px;
            
        }

        input[type=text]{
            font-size: 17px;
        }
    }

    .btn{
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 17px;
        line-height: 30px;
        border-radius: 5px;

        .fa.fa-facebook-square, .fa.fa-google-plus-square{
            float: left;
        }  

    }

    span#redes{
        display: block;
        margin:auto;
        color: #bbb8b8;
    }

    .btn>span{
        font-size: 19px !important;
    }

    .btn.fb{
        background: color($colors, facebook);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    }

    .btn.go{
        background: color($colors, google);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    }

    .btn.ingreso{
        background: color($colors, greendark);
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    }
}
