page-principal {

    // .btn-menu{
    //     position: relative;
    //     display: inline-block;
    //     margin-left: 1%;
    //     float: left;
    //     width:48%;
    //     height: 80px;
    //     padding: 0;
    //     background: color($colors, greendark);
    //     border-radius: 5px;
    //     color: #fff;
    //     font-size: 18px;
    // }

    .list{
        text-align: center;
        font-size: 20px;
        background: color($colors, greendark);
        color: #fff;
    }

    .user{
        background: color($colors, primary);
        color: rgb(88, 38, 38) !important;
        font-weight: bold;
        font-size: 25px !important;
        box-shadow: 0px 0px 33px 10px rgba(0,0,0,0.75);
    }

    .logout{
        background: color($colors, danger);
    }
}
