
<ion-header>

  <ion-navbar>
    <ion-title>{{traduccionTitulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [style.background-color]="fondo">

  <div id="sin-archivo" class="mt-5" *ngIf="!hayArchivo">
    
    <img src="./assets/img/csv.png" width="250">

    <!-- <input type="file" class="mt-3" (change)="cargarCSV($event)"> -->

    <span class="btn btn-default btn-file mt-5">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>{{traduccionCargarArchivo}}<input type="file" (change)="cargarCSV($event)">
    </span>

  </div>
  <div *ngIf="hayArchivo">
    <ion-card>

      <ion-card-content class="card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <span>{{materia}}</span>
            </ion-col>
            <ion-col>
              <span>{{comision}}</span>
            </ion-col>
            <ion-col>
              <span>{{anioLectivo}}</span>
            </ion-col>
            <ion-col>
              <span>{{cuatrimestre}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
      <p class="text-center">{{diaHorario}}</p>

    </ion-card>

    <ion-grid>

      <ion-row class="row row-header">
        <ion-col class="col col-4">{{traduccionLegajo}}</ion-col>
        <ion-col class="col col-8">{{traduccionAlumno}}</ion-col>
      </ion-row>

      <ion-row class="registro" *ngFor="let item of arrAlumnosCSV" align-items-center>

        <ion-col class="col col-4">{{item[0]}}</ion-col>
        <ion-col class="col col-8 cortar">{{item[1]}}</ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <ion-fab left bottom *ngIf="hayArchivo">
    <button ion-fab color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="vaciarCSV()">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <button (click)="cargarDatos()" ion-fab>
        <i class="fa fa-upload" aria-hidden="true"></i>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
