page-carga-archivos {
    .btn{
        font-size: 20px;
    }
    #sin-archivo
    {
        text-align: center;
    }

    span{
        font-size: 18px;
        font-weight: bold;
    }

    .card-md
    {
        margin: 3px 0px 10px -8px !important;
        width: calc(100% - -17px) !important;
    }

    .card-content-md
    {
        padding: 2px 16px !important;
        background: #222222 !important;
        color: #fff !important;
        text-align: center;
    }

    .col {
        // border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
        margin: 0;
        padding: 0;
    }

    // cabecera de la grilla 
    .row-header{
        border-bottom: 3px solid rgb(151, 141, 141);
        font-weight: bold;
        
    }

    // separaci�n para las filas 
    .row{
        padding:3px;
    }

    // efecto mouse over
    .row:hover{
        background-color:#DCD9D8;
        .more{background-color:#DCD9D8;}
    }


    // recortar el texto que sobra en el campo alumno
    .cortar{
        width:150px;
        height:20px;
        text-overflow:ellipsis;
        white-space:nowrap; 
        overflow:hidden; 
    }
    .cortar:hover {
        width: auto;
        height:auto;
        white-space: initial;
        overflow:visible;
        cursor: pointer;
    }

    // configuro el icono del boton "m�s..."
    .more{
        background-color: #FFFFFF;
        padding-top:3px;
    }


    // customizo menu que agrega inasistencias
    .dropdown-item{
        min-width: 160px;
        min-height: 30px;
        font-size: 125%;
    }
    .dropdown-menu{
        position: absolute;
        min-width: 160px;
        min-height: 60px;
        border-radius: 10px;
    }

    ion-row.registro{
    border-bottom: 1px solid #ddd;
    }


    // INPUT FILE
    .btn-file {
        position: relative;
        overflow: hidden;
        }
      .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: pointer;
          display: block;
      }


}
