<!--
  Generated template for the GraficosEstadisticosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Gráficos Estadisticos</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-item>
          <ion-label>Elija Curso</ion-label>
          <ion-select [(ngModel)]="curso" id="curso" name="curso"  (ngModelChange)="MostrarCurso()"> 
            <ion-option selected [value]="seleccioneCurso">Seleccione Curso</ion-option>
            <ion-option *ngFor="let curso of cursos" [value] = "curso.sigla_materia + '-' + curso.comision">
              {{curso.sigla_materia}}-{{curso.comision}}
            </ion-option>
          </ion-select>
        </ion-item>
  
          <ion-item *ngIf="curso != 'Seleccione Curso'">
            <ion-label class = "item item-input item-select item-positive">Que desea Graficar?</ion-label>   
              <ion-select [(ngModel)]="grafico" id="grafico" name="grafico">
                <ion-option selected>Seleccione gráfico</ion-option>
                <ion-option>Encuestas</ion-option>
                <ion-option>Asistencias</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item *ngIf="grafico == 'Encuestas'">
            <ion-label class = "item item-input item-select item-positive">Seleccione Encuesta</ion-label>   
              <ion-select [(ngModel)]="encuesta" id="encuesta" name="encuesta" (ngModelChange)="CargaGraficos()">
                <ion-option selected value="seleccioneEncuesta">Seleccione encuesta</ion-option>
                <ion-option *ngFor="let encuesta of encuestas" [value] = "encuesta.id + '-' + encuesta.titulo">
                  {{encuesta.id}}-{{encuesta.titulo}}
                </ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="grafico == 'Asistencias'">
            <ion-label class = "item item-input item-select item-positive">Que tipo de asistencia desea graficar?</ion-label>   
              <ion-select [(ngModel)]="tipoGrafico" id="tipoGrafico" name="tipoGrafico" (ngModelChange)="CargaGraficos()">
                <ion-option selected value="seleccioneTipo">Seleccione tipo de asistencia</ion-option>
                <ion-option value="P">Presente</ion-option>
                <ion-option value="MF">Meda Falta</ion-option>
                <ion-option value="A">Ausente</ion-option>
            </ion-select>
          </ion-item>
  
  
           <ion-card *ngIf="grafico == 'Asistencias' && tipoGrafico != 'seleccioneTipo'">
              <ion-card-header>
                Gráfico de asistencias
              </ion-card-header>
              <ion-card-content> 
                <canvas #barCanvas></canvas>
              </ion-card-content>
            </ion-card>
  
          <ion-card *ngIf="grafico == 'Encuestas' && encuesta != 'seleccioneEncuesta'">
              <ion-card-header>
                Personas que realizaron Encuesta
              </ion-card-header>
              <ion-card-content>
                <canvas #doughnutCanvas></canvas>
              </ion-card-content>
            </ion-card>
              
  </ion-content>
  