<!-- mgw009
1597534862 -->



<ion-header>
  <ion-navbar>
    <ion-title>Control de asistencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cuerpo" padding>

  <ion-grid>
    <ion-row class="row row-header">
      <ion-col class="col col-1">
        <!-- <ion-checkbox style="padding-top:5px" color="dark" (ionChange)="changeAll($event)" [(ngModel)]="chkAlumno" ></ion-checkbox> -->
      </ion-col>
      <ion-col class="col col-3">Legajo</ion-col>
      <ion-col class="col col-6">Alumno</ion-col>
      <ion-col class="col col-2" text-center>Inasist.</ion-col>
    </ion-row>

    <ion-row class="row-grid" *ngFor="let item of items" align-items-center>
      <ion-col class="col col-1">
        <ion-checkbox style="padding-top:5px" color="dark" (ionChange)="addValidatedItem($event)"></ion-checkbox>
      </ion-col>
      <ion-col class="col col-3">{{item.legajo}}</ion-col>
      <ion-col class="col col-6 cortar">{{item.nombre_apellido}}</ion-col>
      <ion-col class="col col-1" text-center>{{item.inasistencias}}</ion-col>
      <ion-col class="col col-1">
        <div class="btn-group" style="height:50;width:252;">
          <button class="toggle more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ion-icon name="more"></ion-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" (click)="addAbsence('1.0',item.legajo)">Ausente</a>
            <a class="dropdown-item" href="#" (click)="addAbsence('0.5',item.legajo)">Media falta</a>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="initialItemsLength == '0'" class="mt-5">
        <br><br><br>
        <ion-card>
            <ion-card-content padding-top>
                <h2>Por favor, seleccione una comisión...</h2>
            </ion-card-content>
          </ion-card>
    </ion-row>

    <br><br><br>
  </ion-grid>



  <ion-fab bottom>
    <ion-grid>    
      <ion-row padding-left class="ml-5">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ion-fab mini color="dark" (click)="presentActionSheet()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-fab mini color="dark" (click)="test()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab mini color="dark" (click)="test()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-fab mini color="dark" (click)="test()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-row>
    </ion-grid>
  </ion-fab>


</ion-content>