<!-- mgw009
1597534862 -->



<ion-header>
  <ion-navbar>
    <ion-title>Control de asistencia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cuerpo" padding>

  <ion-card *ngIf="initialItemsLength != '0'">
    <ion-card-content class="card-header">
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2>{{comision}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <h6 text-center>{{fechaActual}}</h6>
  </ion-card>

  <ion-grid>
    <ion-row class="row row-header">
      <ion-col class="col col-1">
        <!-- <ion-checkbox style="padding-top:5px" color="dark" (ionChange)="changeAll($event)" [(ngModel)]="chkAlumno" ></ion-checkbox> -->
      </ion-col>
      <ion-col class="col col-3">Legajo</ion-col>
      <ion-col class="col col-8">Alumno</ion-col>
    </ion-row>

    <ion-row class="row-grid" *ngFor="let item of items" align-items-center (click)="addAbsence(item.legajo)" [ngStyle]="{'color': getStyle(item.legajo,'color')}">
      <ion-col class="col col-1">
        <ion-icon name="checkmark-circle" *ngIf="getStyle(item.legajo,'icon') == '0'"></ion-icon>
        <ion-icon name="alert" *ngIf="getStyle(item.legajo,'icon') == '1'"></ion-icon>
        <ion-icon name="remove-circle" *ngIf="getStyle(item.legajo,'icon') == '2'"></ion-icon>
      </ion-col>
      <ion-col class="col col-3">{{item.legajo}}</ion-col>
      <ion-col class="col col-8 cortar">{{item.nombre_apellido}}</ion-col>
    </ion-row>

    <ion-row *ngIf="initialItemsLength == '0'" class="mt-5">
      <br>
      <br>
      <br>
      <ion-card>
        <ion-card-content padding-top>
          <h2>No hay datos para mostrar. Por favor, seleccione una comisión...</h2>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <br>
    <br>
    <br>
  </ion-grid>



  <ion-fab bottom>
    <ion-grid>
      <ion-row padding-left class="ml-5">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-fab" ion-fab mini (click)="presentActionSheet()">
          <ion-icon name="add"></ion-icon>
        </button>
        <button class="btn-fab" ion-fab mini (click)="test()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button class="btn-fab" ion-fab mini (click)="clear()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button class="btn-fab" ion-fab mini (click)="sendList()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-row>
    </ion-grid>
  </ion-fab>


</ion-content>