<ion-header>

  <ion-navbar>
    <ion-title>Gestor de Cuestionarios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="row" *ngIf="!hayCuestionarios">
    <div class="col-12">
      <img src="./assets/img/test.png" class="mt-3" width="150">
      <p class="mt-5 text-muted text-center">No hay cuestionarios para mostrar...</p>
      <button class="btn" (click)="mostrarAlertPregunta()">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Agregar formulario</button>
    </div>
  </div>

  <ion-grid *ngIf="hayCuestionarios">
    <ion-row class="row row-header">
      <ion-col class="col col-3">Restante</ion-col>
      <ion-col class="col col-7">Pregunta</ion-col>
      <ion-col class="col col-2">Editar</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of arrCuestionarios" align-items-center>
      <ion-col class="col col-3">{{item.horasDuracion}} hs.</ion-col>
      <ion-col class="col col-7">{{item.pregunta}}</ion-col>
      <ion-col class="col col-2"><button class="btn" style="width:80%"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab left bottom *ngIf="hayCuestionarios">
    <button ion-fab color="default" (click)="mostrarAlertPregunta()">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </ion-fab>
       


</ion-content>