<!--
  Generated template for the ResultadoEscaneadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Resultado Escaneado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="cuerpo" padding>
  <img src="./assets/img/qrcode.png" width="150" class="img-block">

  <div style="text-align: center" *ngIf="escaneoDesde == 'Alumno'">

  <ion-item class="mt-5">
    <ion-label style="font-family: 'Roboto', sans-serif">Materia</ion-label>
    <ion-input [(ngModel)]="materia" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif">Comision</ion-label>
    <ion-input [(ngModel)]="comision" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif">Aula</ion-label>
    <ion-input [(ngModel)]="aula" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif">Horario</ion-label>
    <ion-input [(ngModel)]="horario" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif">Profesor</ion-label>
    <ion-input [(ngModel)]="profesor" readonly></ion-input>
  </ion-item>
  </div>

  <div style="text-align: center" *ngIf="escaneoDesde == 'Profesor'">
    Acá irá lo escaneado por el profesor
    </div>

    <div style="text-align: center" *ngIf="escaneoDesde == 'Encuesta'">
        Acá iría la encuesta
      </div>
</ion-content>
