page-modal-cuestionarios {

    .list.list-md
    {
        margin: 0 !important;
        border: 1px solid rgba(96, 125, 139, 0.29);
        border-radius: 5px;
        }

    .item-md
    {
        // background: rgba(0, 150, 136, 0.12) !important;
    }
    .label.label-md
    {
        margin-left: 5px;
    }


    .form-control
    {
        height: 35px;
    }
    #date-time
    {
        height: 35px;
    }
 .item-datetime
        {
         padding: 0 !important;
        }



      //TABLA
      .col {
        // border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
        margin: 0;
        padding: 0;
    }

    // cabecera de la grilla 
    .row-header{
        border-bottom: 3px solid rgb(151, 141, 141);
        
        
    }

    // separaci�n para las filas 
    .row{
        padding:3px;
        padding-right: 10px;
    }

    // efecto mouse over
    .row:hover{
        background-color:#012c3d;
        .more{background-color:#012c3d;}
        #dropdownMenuButton{
            background: #02648b;
        }
    }


    // recortar el texto que sobra en el campo alumno
    .cortar{
        width:150px;
        height:20px;
        text-overflow:ellipsis;
        white-space:nowrap; 
        overflow:hidden; 
    }
    .cortar:hover {
        width: auto;
        height:auto;
        white-space: initial;
        overflow:visible;
        cursor: pointer;
    }

    .menu
    {
        text-align: center;
    }

    #dropdownMenuButton{
        display: inline-block;
        height: auto;
        width: 50px;
        background: #012c3d;
        color: #fff;
    }
    .dropdown:hover{
        background: #012c3d !important;
    }

    #rowPregunta{
        border: 3px solid #033c52;
        border-radius: 5px;
        margin-bottom: 5px;
        background: #012c3d;
        color: #fff !important;
    }

    ion-icon {
        font-size: 2.2em !important;
    }

    .dropdown-menu {
        font-size: 1.5rem !important; 
    }

    .btn{
        font-size: 15px;
    }
 
    h3{
        color: #fff;
        background: #02648b;
        padding: 5px;
        text-align: center;
        margin: 0 !important;
        text-shadow: 4px 4px 2px #000;
        font-size: 25px;
   }

   #pregunta
   {
       font-weight: bold;
       font-size: 16px;
       color: #fff;
    //    background: #033c52;
       padding: 15px;
   }

   .item-md{
        background: #02648b !important;
        border: 2px solid #033c52;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 0;
    }

    .item-inner{
        border: 0 !important;
        padding: 0 !important;
    }

    ion-label
    {
        color: #fff !important;
        background: #012c3d !important;
        padding: 13px 8px;
        margin: 0 !important;
    }
    .item-inner{
        border-bottom-color: #03658b !important;
        box-shadow: inset 0 -1px 0 0 #03658b !important;
    }

    .text-input{
        background: #fff !important;
        padding: 13px 8px;
        margin: 0 !important;
        width: 100%;
    }

    ion-datetime#dateHora{
        border-bottom: 2px solid #033c52 !important;
    }

    ion-datetime
    {
        background: #fff;
    }




}
